[Unit]
Description=Mount Synology NAS through SMB protocol - Web shared folder

[Mount]
What=//192.168.1.4/usbshare3
Where=/media/Synology/Usb3
Type=cifs
Options=_netdev,auto,vers=3,credentials=/home/folgui/.smbcredentials,uid=folgui,gid=folgui,mfsymlinks,iocharset=utf8,user,rw,file_mode=0777,dir_mode=0777
TimeoutSec=30

[Install]
WantedBy=multi-user.target
