[Unit]
Description=Mount DATA disk at /media/DATA

[Mount]
What=/dev/disk/by-uuid/ca96ab67-b3b0-4853-b5c6-50ebf5c4742e
Where=/media/DATA
Type=ext4
Options=defaults,rw,noatime,nodiscard
#TimeoutSec=seconds

[Install]
WantedBy=multi-user.target
